.whatWeOffer-card {
    border: 1px solid rgb(187, 185, 185);

    .card-content {
        display: flex;
        padding: max(5%, 10%) max(3%, 4%);
        flex-direction: column;
        justify-content: center;

        img {
            margin-bottom: max(1rem, 2rem);
            width: 30px;
            z-index: 20;

        }

        h1 {
            margin-bottom: max(1rem, 2rem);
            font-family: "Brown Sugar";
            font-weight: 500;
            font-size: clamp(15px, 2.5vw, 22px);
            z-index: 20;

        }

        p {
            font-size: clamp(10px, .8vw, 15px);
            z-index: 20;

        }
    }

    .btn {
        button {
            background: transparent;
            padding: max(5%, 10%) max(3%, 4%);
            border: none;
            display: flex;
            align-items: center;
            cursor: pointer;

        }
    }

    &:hover {
        background-image: url('../../assets//whatWeOffer/image.png');
        background-repeat: no-repeat;
        background-size: cover;

        .card-content {
            color: #ffffff;
        }

        .btn {
            button {
                color: #ffffff;
                cursor: pointer;
            }
        }


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(34, 33, 33, 0.531);
            z-index: 1;
        }
    }
}