.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: max(5em, 10em) max(2%, 3%);

    .left {
        margin-right: 4rem;
        .title {
            display: flex;
            flex-direction: column;
            h1{
                font-family: "Brown Sugar";
                font-size: clamp(80px, 2vw, 100px);  
                position: relative;   
                font-weight: 500;           
    
            }
            .h1-down {
                left: 35%;
    
            }
        }
    }
    .right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .images{
            .image-wrapper {
                position: relative;

                .image2{
                    position: absolute;
                    left: 3.5rem;
                    top: 1.1rem;
                }

            }
        }
        
    }
}

@media (max-width: 1486px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        .right {
            margin-top: max(2em, 3em);
        }        
    }
}