.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: max(2.5em, 5em);
    background-color: #1D1D1D;
    color: #FFFFFF;
    padding: 40px;

    .footer-top {
        // margin: 0 2%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .footer-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Brown Sugar';
            color: #707070;
            margin-top: max(1em, 1.5em);
            font-size: clamp(2.5rem, 1.5vw, 5rem);

            img {
                margin: 0 max(1.5rem, 3rem);
            }
        }
    }

    .footer-links {
        margin: max(2%, 3%) max(2%, 4%);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .left {
            display: flex;
            flex-direction: row;
            border-right: 1px solid #707070;

            .footer-column {
                margin-right: max(2em, 2.5em);

                h4 {
                    font-family: 'Brown Sugar';
                    font-size: clamp(18px, 1vw, 22px);
                    margin-bottom: max(25px, 30px);
                }

                ul {
                    margin-right: max(1.5rem, 3rem);

                    li {
                        margin-bottom: max(25px, 30px);
                        font-size: clamp(10px, .9vw, 15px);
                    }
                }
            }
        }

        .right {
            margin-left: max(1em, 1.3em);
            display: flex;
            flex-direction: column;

            .right-top,
            .right-bottom {
                display: flex;

                .footer-column {
                    margin-right: 40px;

                    h4 {
                        font-size: clamp(18px, 1vw, 22px);
                        margin-bottom: max(25px, 30px);
                        font-weight: 400;
                    }

                    ul {
                        margin-right: max(1.5rem, 4rem);

                        li {
                            margin-bottom: max(10px, 15px);
                            font-size: clamp(9px, .8vw, 12px);
                        }
                    }
                }
            }

        }
    }


    .footer-bottom {
        border-top: 1px solid #707070;
        display: flex;
        justify-content: space-between;
        margin: 0 max(2%, 4%);
        padding-top: max(1rem, 2rem);

        .bottom-left {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;
                margin-right: max(1rem, 2rem);

                img {
                    margin-right: max(.5rem, 1rem);
                }

                h4 {
                    font-size: clamp(20px, 1vw, 26px);
                    font-family: 'Brown Sugar';
                }

            }

            p {
                font-size: clamp(10px, .8vw, 15px);
            }
        }

        .bottom-mid {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: clamp(10px, .8vw, 15px);
                margin-right: max(1rem, 1.5rem);
            }

            p:nth-child(2) {
                border-right: 2px solid #FFFFFF;
                border-left: 2px solid #FFFFFF;
                padding: 0 max(1rem, 2rem);

            }
        }

        .bottom-right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icons {
                a {

                    padding: 0 .4rem;
                    color: #FFFFFF;
                }

            }

            p {
                margin: 0 max(.2rem, .8rem);
                font-size: clamp(12px, .8vw, 16px);

            }
        }
    }
}

@media (max-width: 1469px) {
    .footer {
        .footer-links {
            justify-content: center;
            align-items: center;

            .left {
                border-right: none;
            }

            .right {
                margin-top: max(1rem, 2rem);
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        .footer-top {
            .footer-logo {
                h1 {
                    font-size: max(.5em, 1.2em);
                }

                img {
                    width: max(120px, 150px);
                }
            }
        }

        .footer-links {
            margin-top: max(2rem, 3rem);
            flex-direction: column;
            align-items: center;

            .left {
                border-right: none;
                margin-bottom: 20px;
            }

            .right {
                margin-left: 0;
            }
        }

        .footer-bottom {
            flex-direction: column;
            align-items: center;

            .bottom-left,
            .bottom-mid,
            .bottom-right {
                margin-bottom: max(1rem, 2rem);
                // flex-direction: column;

                align-items: center;
            }

            .bottom-left .logo {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {

        .footer-top {

            .footer-logo {
                font-size: clamp(1.5rem, 1vw, 2.5rem);

                img {
                    width: max(80px, 100px);
                }
            }
        }

        .footer-links {
            align-items: center;
            justify-content: center;

            .left {
                text-align: left;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 80%;

                .footer-column {
                    margin-right: 1rem;
                    margin-bottom: max(1rem, 2rem);


                    ul li {
                        // margin-bottom: 10px;
                        font-size: clamp(12px, 3vw, 14px);
                    }

                }
            }

        }

        .footer-bottom {
            .bottom-mid p {
                font-size: 12px;
            }


        }
    }
}

@media (max-width: 480px) {
    .footer {

        .footer-top .footer-logo {
            font-size: clamp(.6rem, .8vw, .8rem);
            text-align: center;

            img {
                width: max(50px, 75px);
            }
        }

        .footer-links {
            align-items: center;
            justify-content: center;
            width: 100%;


            .footer-column {
                margin-bottom: max(1rem, 1.5rem);
                width: 80%;
            }

            .right {
                align-items: center;
                justify-content: center;
                width: 100%;

                .right-top {
                    flex-direction: column;
                    align-items: center;
                    .footer-column {
                        align-items: center;
                        justify-content: center;
                    }
                    
                }
                .right-bottom {
                    align-items: center;
                    justify-content: center;
                    
                }
            }
        }

        .footer-bottom {
            flex-direction: column;

            .bottom-left {
                // text-align: center;
                // align-items: center;
                flex-direction: column;
                padding: max(.2rem, .5rem) 0;
            }

            .bottom-mid {
                // text-align: center;
                // align-items: center;
                flex-direction: column;
                padding: max(.2rem, .5rem) 0;

                p {
                    margin: max(.2rem, .5rem) 0;

                }

                p:nth-child(2) {
                    border: none;
                }
            }

            .bottom-right {
                // text-align: center;
                // align-items: center;
                flex-direction: column;
                padding: max(.2rem, .5rem) 0;
                p{
                    margin: max(.5rem, 1rem) 0;
                }

            }
        }
    }
}